<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <%if (users.length > 0){ %>
        <ul>
                <% for (let userName of users) { %>
                <li><%= userName.Username %></li>
                <% } %>
            </ul>
    <% } else{ %> 
        <h1>No Users Found</h1>
    <% } %>        
</body>
</html>